/* COMMON */
body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body, html, .listing-container, .login-container {
    height: 100%;
}

.header {
    grid-area: header;
    color: white;
    font-size: 25px;
    font-weight: bold;
    background: #2196f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2%;
}

.footer {
    grid-area: footer;
    color: white;
    font-size: px;
    font-weight: bold;
    background: #2196f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2%;
}

h1 {
    font-size: 30px;
    font-weight: normal;
    margin: 0;
}

h2 {
    font-size: 15px;
    font-weight: normal;
}

h3 {
    font-weight: normal;
    font-size: 20px;
}

/* LOGIN */

.login-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 8% 35% auto 4%;
    grid-template-areas:
        "header"
        "icon"
        "form"
        "footer";
}

.icon {
    grid-area: icon;
    background: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    grid-area: form;
    background: white;
    padding: 50px;
}

.form input {
    width: 90%;
    height: 15%;
    font-size: 15px;
    margin-bottom: 5%;
    padding-left: 5%;
    background: #f5f1f1;
    border-radius: 10px;
    border: none;
}

.form form {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.login-button {
    width: 95%;
    height: 15%;
    font-size: 20px;
    margin-top: auto;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    background: #2196f3;
    border: none;
}

.image-cropper {
    background-color: white;
    border-radius: 100px;
    width: 130px;
    height: 130px;
}

.image-cropper img {
    width: 130px;
    height: 130px;
}

/* LISTING */

.listing-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 8% 5% auto 7%;
    grid-template-areas:
        "header"
        "menu"
        "list"
        "footer";
}

.menu {
    grid-area: menu;
}

.menu button {
    width: 50%;
    height: 100%;
    float: left;
    font-size: 25px;
    background-color: #2196f3;
    color: white;
    border: none;
}

.menu button:hover {
    background-color: #40a4f7;
}

.list {
    grid-area: list;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
    padding-bottom: 2%;
}



.ad {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 95%;
    border-radius: 2%;
    margin-top: 2%;
}

.description {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.ad span {
    margin-top: auto;
}

.ad-image img {
    border-radius: 2%;
}

.prix {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 1%;
    font-size: 20px;
    font-weight: bold;
}

.ad-image img {
    max-width: 100%;
    max-height: 100%;
}

.ad-image {
    width: 30%;
    min-width: 93px;
}

/* RESPONSIVE LISTING */

@media screen and (min-width: 850px) {
    .listing-container {
            display: grid;
            grid-template-columns:20% 15% 45% 20%;
            grid-template-rows: 20% auto 4%;
            grid-template-areas:
                ". header header ."
                ". menu list ."
                "footer footer footer footer";
    }
    
    .ad-image {
              width: 150px;
              height: 150px;
    }

    .ad {
        flex-direction: column;
        width: 150px;
        border-radius: 2%;
        margin-inline: 1%;
    }

    .prix {
        flex-direction: row;
        justify-content: flex-end;
    }

    .list {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-wrap: wrap;    
    }

    .header {
        background-image: url('../assets/market-banner.PNG');
        background-size: 100% 100%;
        color: transparent;
    }

    .menu {
        display: flex;
        flex-direction: column;
    }

    .menu button {
        height: 5%;
        width: 100%;
        font-size: 15px;
    }

    .footer {
        font-size: 15px;
    }
}

@media screen and (min-width:650px) and (max-width: 850px) {
    .listing-container {
        display: grid;
        grid-template-columns: 20% 15% 45% 20%;
        grid-template-rows: 20% auto 2%;
        grid-template-areas:
            ". header header ."
            ". menu list ."
            "footer footer footer footer";
    }

    .ad-image {
        width: 100px;
        height: 100px;
    }

    .ad {
        flex-direction: column;
        width: 100px;
        border-radius: 2%;
        font-size: 10px;
        margin-inline: 1%;
    }

    h2 {
        font-size: 15px;
    }

    h3 {
        font-size: 10px;
    }

    .prix {
        flex-direction: row;
        justify-content: flex-end;
        font-size: 15px;
    }

    .list {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .header {
        background-image: url('../assets/market-banner.PNG');
        background-size: 100% 100%;
        color: transparent;
    }

    .menu {
        display: flex;
        flex-direction: column;
    }

    .menu button {
        height: 5%;
        width: 100%;
        font-size: 15px;
    }

    .footer {
        font-size: 10px;
    }
}

@media screen and (max-width: 600px) {

    h3 {
        margin: 0;
    }
}